:root {
  --clash: "Clash Display", sans-serif;
  --mont: "Montserrat", sans-serif;
  --purple: #903aff;
  --violet: #d434fe;
  --dark-blue: #150e28;
  --grade: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
}
#root {
  background: #150e28;
}

body {
  margin: 0;
}
